body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: indigo;
    margin: 0px;
}


#bod {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    list-style-type: None;
    gap: 40px;
}

#scoreboard {
    font-size: 35px;
    padding-bottom: 80px;

}

#information {
    font-size: 50px;
    text-align: center;
    padding-bottom: 50px;

}

button {
    padding: 16px 10px;
    width: 80px;
    border-radius: 10px;
}

#rock {
    border-color: red;
}

#paper {
    border-color: blue;
}

#scissors {
    border-color: yellow;
}